@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-blue: theme('colors.blue.500');
        --primary-pink: theme('colors.purple.500');
    }
}

@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
    
    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
} 